.button{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: 100px;
    padding: 8px;
    margin: 10px;
    display: inline-block;
}
.container {
    text-align: center;
}